graph {
    fill-color: #3c3f41;
}

edge {
    shape: freeplane;
}

node {
    fill-color: #cc7832;
    size: 15;
    size-mode: fit;
    text-alignment: under;
    text-size: 14;
    text-color: #a9b7c6;
    text-background-mode: rounded-box;
    text-background-color: #2b2b2b;
    text-padding: 4;
    text-offset: 0, 8;
}

node:selected {
    fill-color: #629755;
    size: 25;
}

node.HorizontalWrapper {
    shape: box;
}

node.SpaceWrapper {
    shape: diamond;
    size: 20;
}

node.VerticalWrapper {
    shape: cross;
}

node.FixWrapper {
    visibility-mode: hidden;
}